apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: contact-form
  name: contact-form
spec:
  ports:
    - name: "5000"
      port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    io.kompose.service: contact-form
